$ratio: 0.56;

$box: 500px;
$space: 15px;
$cell: ($box - ($space * 5)) / 4;
$move: 121px;

$smBox: $box * $ratio;
$smSpace: 10px;
$smCell: ($smBox - ($smSpace * 5)) / 4;
$smMove: $move * $ratio;

$xlFont: 55px;
$lgFont: 45px;
$mdFont: 35px;
$smFont: 25px;
$xsFont: 15px;