<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          <img src="{{site.url}}/assets/img/logo.png" />
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          <a class="header__link" href="{{ '/about' | relative_url }}" itemprop="url"><span itemprop="name">About</span></a>
          <a class="header__link" href="{{ '/tech' | relative_url }}" itemprop="url"><span itemprop="name">Tech</span></a>
        </div>
      </nav>
    </div>
  </div>
</header>

{% include navigation-sliding.html %}
