<header class="header" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          <img src="{{site.url}}/assets/img/logo.png" />
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for link in site.data.navigation %}
            <a class="header__link" href="{{ link.url | relative_url }}" itemprop="url"><span itemprop="name">{{ link.title }}</span></a>
          {% endfor %}
        </div>
      </nav>
    </div>
  </div>
</header>

{% include navigation-sliding.html %}
