---
layout: default
current: category
title: Category Page
cover: false
class: 'category-template'
navigation: True
logo: 'assets/images/ghost.png'
---

<!-- default -->
<!-- The category above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<!-- #category -->
{% include dynamic_category_info.html %}
<header class="site-header outer {% if cover or page.cover %}" style="background-image: url(/{% if cover %}{{ cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <div class="inner">
        {% include site-nav.html %}
        <div class="site-header-content">
            <h1 class="site-title">{{ name }}</h1>
            <h2 class="site-description">
                {% if category_description %}
                    {{ category_description }}
                {% elsif page.category %}
    			    A collection of {{ paginator.total_posts }} posts
                {% endif %}
            </h2>
        </div>
    </div>
</header>
<!-- category -->

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
            <!-- The category below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card.html %}
        </div>
    </div>
</main>
